{% extends "front/base.html" %}

{% block content %}
    <div class="register-form">
        <h4 style="color: rgb(255,255,255);">À propos de :</h4>
        <p style="margin-top: 30px;">Le concept Tuto Academy est né d’un constat simple : nous vivons dans un monde où nos enfants ont de plus en plus de devoirs, et nous avons de moins en moins de temps pour les aider.</p>
        <p>Combien de fois s’est-on retrouvé à 21 heures, avec notre enfant qui a un devoir à rendre demain, qui nous pose une question à laquelle on ne sait pas répondre ou bien il nous la pose alors qu’on est en train de jongler avec beaucoup d’autres taches en même temps ?
On culpabilise de ne pas pouvoir l’aider et lui se retrouve frustré de ne pas pouvoir avancer. </p>
        <p>A l’heure où la technologie nous permet de trouver un chauffeur d'un simple clic, où l'on peut faire des rencontres immédiates sur nos applis, où l'on peut joindre qui on veut quand on veut, il était temps de mettre ces technologies au service de l’éducation.</p>
        <p>Nous avons donc créé une plateforme de mise en relation immédiate de l’élève avec un prof particulier qui l’aide ponctuellement avec son problème et à avancer dans ses devoirs.
En d’autres termes, du soutien scolaire d’appoint.</p >
        <p>Tous les tuteurs sur notre plateforme ont été choisis sur leur diplôme bien sûr, mais aussi sur leur nombre d’années d’expérience en soutien scolaire.
Ils aident vos enfants pour leurs devoirs et surtout leur expliquent avec pédagogie le chemin pour arriver à la réponse.</p >
    </div>
{% endblock %}
