

{% load staticfiles %}

<div class="area">
    <ul class="list-group circles">
        <li class="list-group-item"><img src="{% static 'img/bg/history.png' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/economy.png' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/philosophy.png' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/mathematics.svg' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/physics.svg' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/english.svg' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/biology.svg' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/french.png' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/cell-division.png' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/french.png' %}" id="img-anim"></li>
        <li class="list-group-item"><img src="{% static 'img/bg/mathematics.svg' %}" id="img-anim"></li>
    </ul>
</div>
