<!-- TODO create loop for degrees -->


{% extends "front/base.html" %}

{% block content %}
<form class="register-form" method="post">
  {% csrf_token %}
  <h2 class="text-center form-heading">Editer vos Informations (1/3)<br></h2>
  <h2 class="text-center form-subheading">Vos Informations<br></h2><label class="form-label">Nom</label><input class="form-control form-input" type="text" required="" inputmode="latin-name"><label class="form-label">Prénom</label><input
    class="form-control form-input" type="text" required="" inputmode="latin-name"><label class="form-label">Date de Naissance</label><input class="form-control form-input" type="date" required=""><label class="form-label">Adresse</label><input
    class="form-control form-input" type="text" required="">
  <label class="form-label">Code Postal</label><input class="form-control form-input" type="text" required="" inputmode="numeric"><label class="form-label">Ville</label><input class="form-control form-input" type="text" required=""
    inputmode="latin-name"><label class="form-label">Email</label>
  <input class="form-control form-input" type="email"><label class="form-label">Telephone Mobile</label><input class="form-control form-input" type="tel" required=""><label class="form-label">Diplome Obtenu</label><select
    class="form-control form-input" required="">
    <optgroup label="">{% for degree in degrees %}<option>{{ degree.name }}</option>{% endfor %}</optgroup>
  </select>
  <label class="form-label" style="margin-bottom: 5px;">Copie du dernier diplome obtenu</label><input type="file" style="width: 100%;"><label class="form-label">Profession</label><input class="form-control form-input" type="text" required=""
    inputmode="latin-name">
  <div id="Submit-buttons" class="div-2buttons" style="height: 52px;text-align: center;margin-top: 30px;"><button class="btn btn-primary" type="button" id="Button-Ajouter" onclick=location.href="{% url 'edit_tutor_info_2' %}" ;
          style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;text-align: center;float: none;line-height: 25px;">Suivant</button></div>
</form>
{% endblock %}
