{% extends "front/base.html" %}

{% block content %}
<div class="text-center">
  <h1 class="text-center page-title" style="color: rgb(255,255,255);margin-bottom: 0px;padding: 0;margin-top: 100px;">Votre compte</h1><a style="font-family: Lato, sans-serif;font-size: 16px;" href="{% url 'edit_parent_info' %}">Modifier vos
    Informations</a>
  <h5 class="text-center" style="color: rgb(255,255,255);font-weight: 200;font-family: 'Lato';margin-top: 30px;">Total consommation ce mois-ci:<br></h5><span id="text-spent-mins">{{23}}&nbsp;</span><span
    style="font-size: 20px;font-weight: 200;font-family: 'Lato';">minutes&nbsp;</span>
  <h5 class="text-center" style="color: rgb(255,255,255);font-weight: 200;font-family: 'Lato';">Il vous reste:</h5>
  <div style="margin-bottom: 3vh;"><span id="left-mins" style="font-size: 20px;font-family: 'Lato';">13</span><span style="font-size: 20px;font-family: 'Lato';">&nbsp;minutes sur votre forfait</span></div>
  <div id="div-kid-name"><a id="link-kid-name" class="link" href="{% url 'kid_account' %}">Voir le compte de {{ kid }}</a></div>
  <div style="text-align: center;margin-bottom: 20px;"><a href="{% url 'edit_kid_info' %}" style="font-size: 16px;font-weight: 100;font-family: 'Lato';">Modifier les informations</a><span>&nbsp; - &nbsp;</span><a
      style="font-size: 16px;font-weight: 100;font-family: 'Lato';" href="#modal-delete-account" data-toggle="modal">Supprimer ce compte</a></div>
  <div id="div-kid-name"><a id="link-kid-name" class="link" href="{% url 'kid_account' %}">Voir le compte de {{ kid }}</a></div>
  <div style="text-align: center;margin-bottom: 20px;"><a href="{% url 'edit_kid_info' %}" style="font-size: 16px;font-weight: 100;font-family: 'Lato';">Modifier les informations</a><span>&nbsp; - &nbsp;</span><a
      style="font-size: 16px;font-weight: 100;font-family: 'Lato';" href="#modal-delete-account" data-toggle="modal">Supprimer ce compte</a></div>
  <div id="div-kid-name"><a id="link-kid-name" class="link" href="{% url 'kid_account' %}">Voir le compte de {{ kid }}</a></div>
  <div style="text-align: center;margin-bottom: 20px;"><a href="{% url 'edit_kid_info' %}" style="font-size: 16px;font-weight: 100;font-family: 'Lato';">Modifier les informations</a><span>&nbsp; - &nbsp;</span><a
      style="font-size: 16px;font-weight: 100;font-family: 'Lato';" href="#modal-delete-account" data-toggle="modal">Supprimer ce compte</a></div>
      <button class="btn btn-primary shadow" onclick=location.href="{% url 'payment_page' %}" type="button" id="bouton-ajouter-mins">Ajouter des minutes</button>
  <div id="div-accueil">
    <button class="btn btn-primary shadow" onclick=location.href="{% url 'choose_kid_name' %}" type="button" id="bouton-accueil">Accueil</button>
  </div>
  <div class="modal fade" role="dialog" tabindex="-1" id="modal-contact-us">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color: rgb(10,65,88);">Contactez-nous</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body"><input type="text" style="width: 100%;margin-bottom: 15px;" placeholder="Nom"><input type="text" style="width: 100%;margin-bottom: 15px;" placeholder="Prénom"><input type="email"
            style="width: 100%;margin-bottom: 60px;" placeholder="Email">
          <label style="color: rgb(10,65,88);">Sujet: &nbsp;</label><input type="text" style="width: 87%;float: right;"><label style="color: rgb(10,65,88);width: 100%;margin-top: 10px;">Message: &nbsp;</label><textarea></textarea></div>
        <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" style="color: white;" type="button">Fermer</button><button class="btn btn-primary" id="bouton-envoyer" type="button">Envoyer &nbsp;<i
              class="fa fa-send"></i></button></div>
      </div>
    </div>
  </div>
  <div class="modal fade" role="dialog" tabindex="-1" id="modal-delete-account">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Supprimer Le Compte</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <p style="color: #123f64;font-family: lato;font-size: 25px;">Êtes vous sûr de vouloir supprimer le compte de {{ kid }} ?</p>
        </div>
        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal" style="background-color: rgb(255,255,255);font-family: lato;font-size: 20px;font-weight: 100;">Non</button><button class="btn btn-primary"
            type="button" style="font-family: lato;font-size: 20px;font-weight: 100;">Oui</button></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
