{% extends "front/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row" id="row-payment-form" style="margin: 120px 0 0 0;">
  <div class="col column-payment" id="column-forfaits">
    <div class="card shadow-lg" id="panel-forfaits">
      <div class="card-header">
        <h3 class="text-center" style="color: rgb(255,255,255);font-size: 25px;">Les Forfaits</h3>
        <h2></h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="card card-forfaits">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
            <div class="card-body card-body-forfaits">
              <div class="form-check" id="Forfait-15mins"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2" style="font-size: 16px;">Forfait 15 Minutes:&nbsp;<span>€12,99</span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card card-forfaits">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
            <div class="card-body card-body-forfaits">
              <div class="form-check" id="forfait-30mins"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3" style="font-size: 16px;">Label</label></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card card-forfaits">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
            <div class="card-body card-body-forfaits" id="forfait-60mins">
              <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1" style="font-size: 16px;">Label</label></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 column-payment" id="column-payment-info">
    <div class="card shadow-lg credit-card-box">
      <div class="card-header">
        <h3 class="text-center" style="color: rgb(255,255,255);font-size: 25px;">Vos Informations de Paiement</h3><img id="image-cards" src="{% static '/img/payment_page/accepted_cards.png' %}">
        <h2></h2>
      </div>
      <div class="card-body" style="padding-top: 0px;">
        <form id="payment-form">
          <div class="form-row">
            <div class="col-5 col-sm-7 col-md-5 col-lg-5 col-xl-5"><label class="col-form-label" for="" style="color: rgb(255,255,255);font-size: 20px;padding-top: 0px;">Votre Total:</label></div>
            <div class="col-7 col-sm-5 col-md-7 col-lg-7 col-xl-7" style="font-size: 25px;"><label class="col-form-label" for="cardNumber" style="color: rgb(255,255,255);font-size: 20px;padding-top: 0px;">{{ total }} €</label></div>
            <div class="col-12"><label class="payment-form" style="color: rgb(255,255,255);margin-bottom: 0px;">Nom</label><input class="form-control" type="text" id="couponCode"></div>
          </div>
          <div class="form-row">
            <div class="col-12"><label class="payment-form" for="cardNumber" style="color: rgb(255,255,255);margin-bottom: 0px;">Numero de Carte</label>
              <div class="input-group"><input class="form-control" type="tel" id="cardNumber" required="">
                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-7"><label class="payment-form" for="cardExpiry" style="color: rgb(255,255,255);">Date d'expiration</label><input class="form-control" type="tel" id="cardExpiry" style="font-size: 15px;" required="" placeholder="MM / YY">
            </div>
            <div class="col-5 pull-right"><label class="payment-form" for="cardCVC" style="color: rgb(255,255,255);">CVV</label><input class="form-control" type="tel" id="cardCVC" style="font-size: 15px;" required="" placeholder="CVV"></div>
          </div>
          <div class="form-row">
            <div class="col-12"><label class="payment-form" for="couponCode" style="color: rgb(255,255,255);">Code Promo</label><input class="form-control" type="text" id="Name"></div>
          </div>
          <div class="form-row">
            <div class="col-12" style="margin-top: 20px;margin-bottom: 0px;"><a class="btn btn-success btn-block btn-lg" role="button"
                style="font-size: 25px;background-color: #517ca3;-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);" href="{% url 'payment_confirmation' %}">Paiement</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-contact-us">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color: rgb(10,65,88);">Contactez-nous</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body"><input type="text" style="width: 100%;margin-bottom: 15px;" placeholder="Nom"><input type="text" style="width: 100%;margin-bottom: 15px;" placeholder="Prénom"><input type="email" style="width: 100%;margin-bottom: 60px;"
          placeholder="Email">
        <label style="color: rgb(10,65,88);">Sujet: &nbsp;</label><input type="text" style="width: 87%;float: right;"><label style="color: rgb(10,65,88);width: 100%;margin-top: 10px;">Message: &nbsp;</label><textarea></textarea></div>
      <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" style="color: white;" type="button">Fermer</button><button class="btn btn-primary" id="bouton-envoyer" type="button">Envoyer &nbsp;<i class="fa fa-send"></i></button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
