{% extends "front/base_nomenu.html" %}

{% load staticfiles %}

{% block content %}
<div>
    <div id="div_back" style="padding-left: 20px;padding-top: 20px;"><a href="javascript:history.go(-1)"><i class="icon ion-ios-arrow-back" style="color: white;font-size: 30px;"></i><img style="width: 200px;" src="assets/img/logo.png"></a></div>
    <form class="register-form" style="margin-top: 30px;">
        <h4 style="color: rgb(255,255,255);">Termes et Conditions:</h4>
        <p>terms-and-conditions-parents</p>
    </form>
</div>
{% endblock %}
